
<div class="body">
    
<div class="container" style="margin-top:50px">
    
    <div class="left">
        <div class="col-md-4"><b>
       <div class="c">
      <h3>Disclaimer - </h3>
      <p>"As regards deposit taking activity of the Loan Tracker, the viewers may refer to the advertisement in the newspaper / information furnished in the application form for soliciting public deposits; published on June 28, 2018 in the Free Press Journal and in Navshakti, Mumbai, respectively. The Loan Tracker is having a valid Certificate of Registration dated 31/07/2001 issued by the National Housing Bank under Section 29A of the National Housing Bank Act, 1987. However, the National Housing Bank does not accept any responsibility or guarantee about the present position as to the financial soundness of the Loan Tracker or for the correctness of any of the statements or representations made or opinions expressed by the Loan Tracker and for repayment of deposits / discharge of the liabilities by the Loan Tracker."</p>
      <p>*The information mentioned herein is subject to change without prior notice. Please visit your nearest branch for detailed information on our various products and changes, if any. Terms and conditions apply</p>
    </div> </b>
    </div>
      </div>
    
    
  
  </div>
  </div>
         